#app-container {
    text-align: center;
}
button {
    width: 15vw;
    height: 5vh;
    display: block;
    margin: 10vh auto;
    background-color: orange;
    border-radius: 10px;
    font-family: Verdana, sans-serif;
    font-weight: 100;
    font-size: 12px;
}
button:hover {
    color: white;
    cursor: pointer;
}
div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: #DCDCDC;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    line-height: 11vh;
    color: grey;
    padding: 2px;

}
.bonus {
    background-color: red;
}